#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family:  cursive;
    font-size: 100px;
}
#resetBtn{
    font-family:  cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}


#resetBtn:hover {
    background-color: green;
}

#resetBtn:active {
    background-color: orange;
} 
/* css code to just move hearder-line text to right 
.header-line {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: moveRight 5s linear infinite;
            animation: moveRight 5s linear infinite;
}

@-webkit-keyframes moveRight {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

@keyframes moveRight {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
} */

/* mordify above code so text will move back and forth */
.header-line {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  
    -webkit-animation: moveLeftToRightAndBack 10s linear infinite;
            animation: moveLeftToRightAndBack 10s linear infinite;
}

@keyframes moveLeftToRightAndBack {
    0%   { transform: translateX(-100%); }      /* Start at the left edge */
    50%  { transform: translateX(100%); }   /* Move to the right edge */
    100% { transform: translateX(-100%); }      /* Return to the left edge */
}